/* Contenido principal para 360px - resolución GalaxyS9 */

.grid {
  
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;

    padding: 0 1rem 0 1rem;
    width: var(--max-width - 100px);
    /* height: 115vh; */
  
    /* //Alineación global */
    /* //Horizontal */
    justify-items: center; 
    /* //Vertical */
    align-items: center; 
  
    /* //Autoflow!! */
    grid-auto-flow: dense;
  
}

.grid-item {
  
    width:100%;
    min-height: 100%; 
    /* background-color: var(--bg-beer); */
    display: flex;
    justify-content: space-between;
    align-items: top;
  
}

.grid-item .parrafo {
  
    width:86%;
    padding-left:17%;
    text-align: justify;
  
}


.grid-item > a  {
    text-align: center;
    text-decoration-line: none;
    
}




/*MEDIA QUERIES*/

@media all and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2,1fr);
    }



}

@media all and (min-width: 1280px) {

    .grid {
        grid-template-columns: repeat(3,1fr);
    }



}


